<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="/">
      <span class="site-title-full">jacob hoover vigly</span>
      <span class="site-title-short">jacob vigly</span>
      <span class="site-title-xs">jv</span>
    </a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">home</a>
        <a class="page-link" href="/posts/">blog</a>
      </div>
    </nav>
  </div>
</header>
<script src="/assets/js/section-marks.js" defer></script>
<script src="/assets/js/active-nav.js" defer></script>
