<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>
  </body>

  <!-- Load Common JS (for custom things like abstract hidden / open) -->
  <script src="{{ '/assets/js/common.js' | prepend: site.baseurl | prepend: site.url }}"></script>
</html>

