---
layout: default
---
<div class="post">

  <header class="post-header">
    <div class="post-title" itemprop="name headline">
    	{{ page.title }}
    </div>
    <span class="post-meta">
    	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    		{{ page.date | date: "%-d %b %Y" }}
    	</time>
    	{% if page.author %}
	    	• 
	    	<span itemprop="author" itemscope itemtype="http://schema.org/Person">
	    		<span itemprop="name">{{ page.author }}</span>
	    	</span>
    	{% endif %}
	</span>
    <span class="post-tags">
      {% for tag in page.tags %}
        - {{ tag }}
      {% endfor %}
    </span>
  </header>

  <article class="post-content" itemscope itemtype="http://schema.org/BlogPosting">
    <!-- <div itemprop="articleBody"> -->
      {{ content }}
    <!-- </div> -->
  </article>

  {%- if site.disqus_shortname and page.comments -%}
  <div><p><hr></p></div>
    {% include disqus_custom_embed_code.html %}
  {%- endif %}

</div>
